@import url('https://font.nmscd.com/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css');
@import url('https://font.nmscd.com/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css');

/*Debugging border for all elements*/
/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */

body {
  font-family: 'NMSFuturaProBook', sans-serif;
  background-color: #fff;
  color: #222;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'NMSGeoSans', sans-serif;
}
